#consola {
    background-color: azure;
    padding: 30px;
    border-radius: solid blue 3px;
    width: 50%;
}

#consola div h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 50px;
}

div {
    text-align: center;
}

#ingresar {
    display: flex;
    justify-content: center;
}

input {
    width: 40%;
}

#agregar {
    margin-left: 10px;
    width: 20%;
    padding: 5px;
    color: white;
    background-color: green;
}

#resumen {
    display: flex;
    margin-top: 20px;
}

#contador {
    margin-right: 40px;
    margin-left: 20px;
    text-align: start;
}

#lista {
   background-color: rgb(154, 195, 195);
   margin-left: 50px;
   width: 60%;
   padding-right: 30px;
}

ul {
  justify-content: center;  
}

li {
    text-align: end;
}

